@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
    --bg-color: #fff;
    --card-bg: #f1f1f1; /* rgba(241,241,241,255) */
    --txt-color: #1e1d2b;
    --head-color: #222222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wdmp_search_filters_root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1;
    padding: .2rem 1.5rem;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

.MT_header {
    margin: 0 0 10px 0;
}

.metaxonomy__container input[type=text],
.metaxonomy__container select,
#metaxonomyFieldType,
.metaxonomy__content__input textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 08px;
    background-color: var(--card-bg);   /*rgba(241,241,241,255) */
}

#metaxonomyFieldType {
    margin: .7rem 0;
}

.metaxonomy__addnew-button{
    border: solid 1px var(--card-bg);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
}

.metaxonomy__addnew-button, .metaxonomy__savechanges-button{
    display: flex;
    justify-content: center;
}

.metaxonomy__savechanges-button input[value=Add] {
    margin-bottom: .2rem;
}

#wdmp_search_filters_root input[type=button],
#wdmp_search_filters_root input[type=submit] {
    padding: 8px 10px;
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
    background: rgb(58,40,127);
    background: linear-gradient(90deg, rgba(58,40,127,1) 0%, rgba(114,37,157,1) 35%, rgba(189,33,196,1) 100%);
}

#wdmp_search_filters_root input[type=button]:hover,
#wdmp_search_filters_root input[type=submit]:hover {
    cursor: pointer;
}

.metaxonomy__savechanges-button input{
    padding: 8px 15px;
}
