//Colors
$darkGray : #707070;
$lightgray : #A3A3A3;
$lighterGray:rgba(240,241,243,1);
$darkBlue : #2D3368;
$fadedDarkBlue : #2D3368AB;
$lightBlue : #717598;
$white: #fff;
$green: #17AC70;
$red: #D03425;